{% if back_url %}
    <div class="container" style="width:auto;float:left">
        <button type="button" class="btn btn-default">
            <a class="glyphicon glyphicon-chevron-left" style="padding-top:4px;width:40px;text-decoration:none;color:black" href={{ back_url }}></a>
        </button>
    </div>
{% endif %}

{% if request.session.logged_in %}
    <div class="container" style="width:auto;margin-top:10px;text-align:right">
        Logged in as <b>{{ request.session.email }}</b>
        <a class="btn btn-danger" style="margin-left:5px" href="/logout">Logout</a>
    </div>
{% else %}
    <div class="container" style="width:auto;margin-top:10px;text-align:right">
        <a class="btn btn-primary" style="margin-left:5px" href="/login">Login</a>
    </div>
{% endif %}